.book-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafa;
}

.book-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  list-style: none;
  width: 90%;
  margin: 2.31rem 2.5rem 4.063rem 0;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
}

.book-list li {
  width: 100%;
}
